*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 265px;
}

.body-container {
  display: flex;
}

.operand-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.operator-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.function-buttons {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.operand-buttons button {
  border: 1px solid rgb(173, 171, 171);
}

.function-buttons button,
.operator-buttons button {
  background-color: rgb(237, 248, 244);
  border: 1px solid rgb(36, 146, 78);
  color: rgb(74, 188, 118);
}

.clear-btn:hover {
  background-color: rgb(239, 217, 221);
  border: 1px solid darkred;
  color: rgb(191, 65, 76);
  transition: 200ms ease-in-out;
}

#equalButton {
  background-color: rgb(239, 217, 221);
  border: 1px solid darkred;
  color: rgb(191, 65, 76);
}

button {
  width: 60px;
  font-size: 20px;
  padding: 16px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  scale: 0.9;
}

.calculator-display {
  min-height: 97px;
  text-align: right;
}

.main-display {
  font-size: 40px;
  margin-bottom: 40px;
  max-height: 50px;
  overflow: auto;
}

.secondary-display {
  color: gray;
  font-size: 18px;
  margin-bottom: 15px;
  max-height: 20px;
  overflow: auto;
  transition: 0.1s ease-out;
}

.secondaryAnimation {
  transform: scale(1.2) translateX(-7%) translateY(50%);
  color: black;
}

.mainAnimation {
  animation: slide-to-top 0.2s ease-out;
}

@keyframes slide-to-top {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}
